{% extends 'base.html.twig' %}

{% block title %}Espace d'admin{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}
<div class="container mt-4">
    <h1>Gerer les options</h1>
    <table class="table table-striped"> 
    <thead>
        <tr>
            <th>Titre</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.name }}</td>
                <td>
                    <a href="{{ path('option_edit', {id: option.id}) }}" class="btn btn-secondary">Editer</a>
                    <form style="display: inline-block;" method="POST" action="{{ path('option_delete', {id: option.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer')">
                        <input type="hidden" name="_method" value="delete">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    </td>
                </td>
            </tr>
            
        {% endfor %}
    </tbody>
    </table>
    <div class="text-right">
        <a href="{{ path('option_new') }}" class="btn btn-primary">Ajouter un bien</a>
    </div>
</div>

{% endblock %}
